.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.about-modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    width: calc(15% + 60vw);
    border-radius: 20px;
}

.about-handlebar {
    display: flex;
    flex-direction: row;
    border-bottom: 1.5px solid #cacaca;
    padding: 0.7%;
    border-radius: 20px 20px 0 0;
}

.about-close {
    display: flex;
    margin-left: 2%;
}

.about-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    overflow-y: scroll;
}

.about-title {
    display: flex;
    justify-content: center;
}

.about-body {
    display: flex;
    padding: 5%;
}

@media (max-width: 1000px) {
    .about-modal {
        width: 90%;
        height: 60%;
    }

    .about-close {
        margin-left: 4%;
    }
    
}