.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.modal{
    position: absolute;
    background-color: white;
    width: calc(15% + 40vw);
    border-radius: 20px;
    height: auto;
}


.modal-subtitle {
    position: relative;
    text-align: left;
}

.handlebar {
    border-bottom: 1.5px solid #cacaca;
    padding-bottom: 0px;
}

.close {
    display: inline-block;
    align-content: center;
    margin-top: -10%;
}

.nav-buttons {
    margin-left: 5%;
    display: inline-block;
}

img {
    width: 100%;
}

.modal-content {
    max-height: 70vh;
    overflow-y: scroll;
}